<DOCTYPE html>
<html lange="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MovieBD</title>
</head>
<body>
   <% for (var i=0; i<posts.length; i++) { %>
   <div>
   	<h1><%= posts[i].title%></h1>
   	<p><%= posts[i].content%></p>
   </div>
   <%}%>
 </body>
</html>